<style>
    .dashboard-card__container {
        display: block;
    }

    @media (min-width: 768px) {
        .dashboard-card__container {
            display: flex;
        }
    }

    .dashboard-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: solid 0px rgba(0, 0, 0, 0.38);
        border-radius: 4px;
        padding: 6px;
        width: 100%;
        margin: 0 0 5px 0;
    }

    @media (min-width: 768px) {
        .dashboard-card {
            display: block;
            margin: 15px;
        }
    }

    .dashboard-card > *:last-child {
        margin-bottom: 0;
    }

    .dashboard-card .dashboard-card__title {
        align-self: flex-start;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        color: #666;
        text-transform: uppercase;
        text-align: left;
        width: 30%;
    }

    @media (min-width: 768px) {
        .dashboard-card .dashboard-card__title {
            text-align: center;
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .dashboard-card .dashboard-card__detail {
        flex-grow: 1;
        font-size: 24px;
        text-align: left;
        padding-left: 15px;
    }

    @media (min-width: 768px) {
        .dashboard-card .dashboard-card__detail {
            padding-left: 0;
            text-align: center;
        }
    }

    .dashboard-card .dashboard-card__cta {
        width: 30%;
        font-size: 14px;
        text-align: right;
    }

    @media (min-width: 768px) {
        .dashboard-card .dashboard-card__cta {
            width: 100%;
            text-align: center;
        }
    }

    @media (min-width: 768px) {
        .dashboard-card.dashboard-card--sm {
            width: 22.5%;
        }
    }

    .dashboard-card.dashboard-card--form {
        display: block;
    }

    @media (min-width: 768px) {
        .dashboard-card.dashboard-card--form {
            display: flex;
            align-items: stretch;
        }
    }

    .txt_success {
        color: #2EAB6F;
    }

    .txt_warn {
        color: #DDC728;
    }

    .txt_primary {
        color: #007BFF;
    }

    .txt_danger {
        color: #DC3545;
    }
</style>
<script>
    const url = "/api/v1/{{env}}/account/{{account}}/stats?start_from={{ start_from }}"
    fetch(url).then(function (response) {
        response.json().then(function (payload) {
            let direction = payload.data.pl_pct > 0 ?
                '<i class="fa fa-arrow-up" aria-hidden="true" style="font-size:18px"></i>' :
                '<i class="fa fa-arrow-down" aria-hidden="true" style="font-size:18px;color: #DC3545"></i>'
            ytd.innerHTML = direction + (payload.data.pl_pct * 100).toFixed(2) + '%';
            payload.data.pl_pct > 0 ? ytd.classList.add("txt_success") : ytd.classList.add("txt_danger");

            rpl.textContent = '£' + numberWithCommas(payload.data.pl.toFixed(2))
            payload.data.pl > 0 ? rpl.classList.add("txt_success") : rpl.classList.add("txt_danger");

            upl.textContent = '£' + numberWithCommas(payload.data.unrealized_pL.toFixed(2))
            payload.data.unrealized_pL > 0 ? upl.classList.add("txt_success") : upl.classList.add("txt_danger");

            pf.textContent = payload.data.profit_factor.toFixed(2)
            if (payload.data.profit_factor > 2) {
                pf.classList.add("txt_success")
            } else if (payload.data.profit_factor > 1) {
                pf.classList.add("txt_warn")
            } else {
                pf.classList.add("txt_danger")
            }

            ib.textContent = '£' + numberWithCommas(payload.data.initial_balance.toFixed(0))
        });
    });
</script>
<div class="card mb-3">
    <div class='dashboard-card__container'>
        <div class='dashboard-card'>
            <h2 class='dashboard-card__title'>
                YTD %
            </h2>
            <p class='dashboard-card__detail' id="ytd">
                0%
            </p>
        </div>

        <div class='dashboard-card'>
            <h2 class='dashboard-card__title'>
                Realized PL
            </h2>
            <p class='dashboard-card__detail' id="rpl">
                £0.00
            </p>
        </div>

        <div class='dashboard-card'>
            <h2 class='dashboard-card__title'>
                Unrealized PL
            </h2>
            <p class='dashboard-card__detail' id="upl">
                0
            </p>
        </div>

        <div class='dashboard-card'>
            <h2 class='dashboard-card__title'>
                Profit Factor
            </h2>
            <p class='dashboard-card__detail' id="pf">
                0
            </p>
        </div>

        <div class='dashboard-card'>
            <h2 class='dashboard-card__title'>
                Initial Balance
            </h2>
            <p class='dashboard-card__detail txt_primary' id="ib">
                £0.00
            </p>
        </div>

    </div>
</div>