<script>
    $(document).ready(function () {
        $("#trade-blotter").DataTable({
            ajax: "/api/v1/{{env}}/account/{{account}}/orders?state=CLOSED&start_from={{ start_from }}",
            columns: [
                {data: 'id', class: 'text-center'},
                {data: 'openTime', class: 'text-center'},
                {data: 'side', class: 'text-center'},
                {data: 'instrument', class: 'text-center'},
                {
                    data: 'units',
                    class: 'text-right',
                    render: $.fn.dataTable.render.number(',', '.', 0)
                },
                {data: 'entryPrice', class: 'text-right'},
                {data: 'exitPrice', class: 'text-right'},
                {
                    data: 'financing',
                    class: 'text-right',
                    render: $.fn.dataTable.render.number(',', '.', 2, '£')
                },
                {
                    data: 'pl',
                    class: 'text-right font-weight-bold',
                    render: $.fn.dataTable.render.number(',', '.', 2, '£')
                },
                {data: 'closeTime', class: 'text-center'}
            ],
            formatNumber: function (toFormat) {
                return toFormat.toString().replace(
                    /\B(?=(\d{3})+(?!\d))/g, "'"
                );
            },
            fixedHeader: {header: true},
            order: [[0, "desc"]],
            pageLength: 10,
            responsive: true,
            rowCallback: function (row, data, index) {
                if (data['pl'] > 0) {
                    $(row).find('td:eq(8)').css('color', 'green');
                } else {
                    $(row).find('td:eq(8)').css('color', 'red');
                }
            }
        });
    })
</script>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>Trading Journal
    </div>
    <div class="card-body">
        <table class="table" id="trade-blotter" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Ticket</th>
                <th>Open Time</th>
                <th>Side</th>
                <th>Instrument</th>
                <th>Units</th>
                <th>Entry</th>
                <th>Exit</th>
                <th>Swap</th>
                <th>PL</th>
                <th>Close Time</th>
            </tr>
            </thead>
        </table>
    </div>
</div>