<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Algo Trading Dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="static/css/login.css" rel="stylesheet"/>
    <link href="static/css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                          {{ messages[0] }}
                        </div>
                    {% endif %}
                    {% endwith %}
                    <h5 class="card-title text-center">ACCOUNT LOGIN</h5>
                    <form class="form-signin" method="POST" action="/login">
                        <div class="form-label-group">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email address or User name"
                                   required autofocus>
                            <label for="email">Email or Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                                   required>
                            <label for="password">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                            <label class="custom-control-label" for="remember">Remember password</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    </form>
                    <hr class="my-4">
                    <p class="text-center small">Don't have an account! <a href="{{ url_for('auth.signup') }}">Sign up here</a>.</p>
                    <p class="text-center small">Or use testing account <a class="text-danger">test/pass</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>