<div class="card-header">
    <i class="fas fa-chart-pie mr-1"></i>
    Win Loss Ratio%
</div>
<div class="card-body" style="margin-left: auto; margin-right: auto;">
    <label>
        <input type="text" id="wlRatio" value="0" data-width="190" class="dial animated" data-fgColor="#3CBA9F" readonly>
    </label>
    <script>
        $(function () {
            $(".dial").knob({
                'format': function (value) {
                    return value + '%';
                },
                'draw': function () {
                    $(this.i).css('font-size', '24pt');
                }
            });
        });
    </script>
</div>

