<script>
    fetch("/api/v1/{{env}}/account/{{account}}/stats?start_from={{ start_from }}").then(function (response) {
        response.json().then(function (payload) {
            $('.dial').val(payload.data.win_percent * 100).trigger('change')
        });
    });
</script>

<div class="card-header">
    <i class="fas fa-chart-pie mr-1"></i>
    Win Loss Ratio%
</div>
<div class="card-body" style="margin-left: auto; margin-right: auto;">
    <label>
        <input type="text" id="wlRatio" value="0" class="dial animated" data-fgColor="#3CBA9F" readonly>
    </label>
    <script>
        $(function () {
            $(".dial").knob({
                'format': function (value) {
                    return value + '%';
                },
                'draw': function () {
                    $(this.i).css('font-size', '24pt');
                }
            });
        });
    </script>
</div>

